{{template "base/head" .}}
<div class="home">
	<div class="ui negative message">
	  <i class="close icon"></i>
	  <div class="header">
	    COVID-19 UPDATE:
	  </div>
	  <p>Bi-weekly Hackathon moved online, check email for further details. STAY HOME and STAY SAFE~</p>
		<p></p>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{StaticUrlPrefix}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
				Open Dream: Open Source Illustration
				</h1>
				<h2>A Better Way to Draw Together</h2>

			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center aligned centered column">
			<p class="large">Open Dream is a free remote art collaboration server that brings teams together to work through problems, move ideas forward and learn from each other along the way.</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-flame"></i> {{.i18n.Tr "startpage.install"}}
			</h1>
			<p class="large">
				Simply <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">run the binary</a> for your platform. Or ship Open Dream with <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> or <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>, or get it <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">packaged</a>.
			</p>
			<p class="large">
				Open Dream runs anywhere <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a> can compile for: Windows, macOS, Linux, ARM, etc. Choose the one you love!
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-device-desktop"></i> Collective Production
			</h1>
			<p class="large">
				Collaboration makes perfect. The conversation and sketch review that happens in upload request help your team share the weight of your imagination.
			</p>
			<p class="large">
				On Open Dream, project management happens in discussion and idea boards, right alongside your work, all your have to do is mention a teammate to get them involved.
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-rocket"></i> Protect Your Work
			</h1>
			<p class="large">
				Prevent problems before they happen. Protected backups, signed contributions, and required status checks protect your progress and help you maintain a high standard for your artwork.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-code"></i> {{.i18n.Tr "startpage.license"}}
			</h1>
			<p class="large">
				Go get <a target="_blank" rel="noopener noreferrer" href="https://github.com/hansolowu/DreamGit">code</a>! Join us by <a target="_blank" rel="noopener noreferrer" href="https://github.com/hansolowu/DreamGit">contributing</a> to make this project even better. Don't be shy to be a contributor!
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center aligned centered column">
			<div class="ui message">
			  <div class="header">
			    Development Log:
			  </div>
			  <ul class="list">
					<li>2020.04.29: beta 0.22.1_stable release.</li>
					<li>2020.04.13: PSD layer preview, see repo test.</li>
					<li>2020.04.07: Multilayer PSD file API testing.</li>
					<li>2020.04.01: Open Dream beta 1.04 is live!</li>
					<li>2020.03.11: Scheduled Server Reset.</li>
					<li>2020.02.27: Open Dream beta 1.03 is live!</li>
					<li>2020.02.14: LFS migration testing.</li>
			    <li>2020.01.20: Open Dream beta 1.01 is live!</li>
			    <li>2020.01.19: Server reset for beta deployment</li>
					<li>2020.01.07: New organization page</li>
					<li>2019.11.29: LFS beta 0.19 is live</li>
					<li>2019.10.15: LFS beta testing</li>
					<li>2019.08.02: Large File Sharing (LFS) development proposed</li>
					<li>2019.07.15: Git clinet revamped</li>
					<li>2019.05.11: Server migration tool</li>
					<li>2019.05.01: Jpeg + png support to Markdown files</li>
					<li>2019.02.15: Resolved the zoom issues with preview</li>
					<li>2019.01.21: Preview function on ps files</li>
					<li>2018.12.21: Open Dream alpha 0.01 is live</li>
			  </ul>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide left aligned centered column">
			<div class="ui medium header">
				To sign up for our development team, contact:
			</div>
			<div class="ui list">
				<div class="item">
					<i class="users icon"></i>
					<div class="content">
						Han Wu
					</div>
				</div>
				<div class="item">
					<i class="mail icon"></i>
					<div class="content">
						<a href="mailto:hanwu91@gmail.com">hanwu91@gmail.com</a>
					</div>
				</div>
				<div class="item">
					<i class="linkify icon"></i>
					<div class="content">
						<a href="https://github.com/hansolowu/DreamGit">Repository</a>
					</div>
				</div>
			</div>

			<div class="ui medium header">
				To be part of the testing team, contact:
			</div>
			<div class="ui list">
				<div class="item">
					<i class="users icon"></i>
					<div class="content">
						Angela Chang
					</div>
				</div>
				<div class="item">
					<i class="mail icon"></i>
					<div class="content">
						<a href="mailto:opendreamfoundation@gmail.com">opendreamfoundation@gmail.com</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{{template "base/footer" .}}
