<div class="ui container">
  <div class="ui stackable middle very relaxed page grid">
    <div class="eight wide center aligned centered column">
      <p class="large"> work flow graph view area</p>
    </div>

  </div>


</div>
