<div class="ui container">
    <div class="eight wide center aligned centered column">
      <p class="large"> work flow graph view area</p>
    </div>
    <div class="ui padded grid scrolling content" style="overflow-x:scroll;white-space:nowrap;">
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div></div>
      <div class="four wide column">
        <div class="ui segment">
          <p>kdiekdiekdiek</p>
        </div>
      </div>
    </div>


</div>
